body{
    width: 100%;
    height: 100vh;
    background: linear-gradient(115.67deg, #EDC1D3 7.14%, #91BDEC 99.42%);
    display: flex;
    cursor: url(../../img/cursor.cur), url(../../img/cursor.png), default;
}

.todo{
    margin: auto;
    padding: 40px 70px;
    width: 80%;
    height: 80%;
    background: var(--brand-white);
    box-shadow: 0px 4px 40px 0px #8CA4D8;
    border-radius: 30px;
}

@media screen and (max-width: 768px){   
    body{
        height: inherit;
        min-height: 100vh;
        padding: 40px 20px;
    }
    .todo{
        width: 95%;
        min-height: 80%;
    }
}

@media screen and (max-width: 576px) {
    .todo{
        padding: 20px;
    }
}

@media (prefers-color-scheme: dark) {
    body{
        background: linear-gradient(115.67deg, #743653 7.14%, #113c69 99.42%);
    }
    .todo{
        box-shadow: 0px 4px 40px 0px #113c69;
    }
}