.todo__form{
    display: flex;
    align-items: center;
}
.form__input{
    display: block;
    flex-grow: 1;
    margin-right: 30px;
    border: none;
    padding: 10px;
    outline: none;
    border-bottom: var(--border);
}

.form__btn{
    width: 100px;
    height: 35px;
    border-radius: 10px;
    text-align: center;
    line-height: 35px;
    background: var(--brand-purple);
    color: var(--brand-white);
    transition: var(--main-transition);
}

.form__btn:hover{
    transform: scale(1.05);
    box-shadow: 10px 20px 30px rgba(0, 0, 0, 0.1)
}

@media screen and (max-width: 576px) {
    .todo__form{
        flex-direction: column;
        align-items: flex-start;
    }
    .form__btn{
        margin-top: 20px;
    }
    .form__input{
        width: 100%;
    }
}